__pycache__/

# temporary glade files
*.glade~
*.glade#

# PyCharm
.idea/

# setuptools packaging
build/
dist/
*.egg-info/
data/gpt.desktop

# localization helper scripts
*localizeorcry.py
*update_mo.py
*ignoredstrings

# obsolete run scripts to execute different UI alternatives
run-*